<%# Seems to fix a ghost delete on showing an article, unsure what is causing the issue%>
<% unless comment.author.nil? %>
  <div class="render_comment_container">
    <p class="render_comment_author"><%= comment.author%></p>
    <p class="render_comment_timestamp"><%= comment.created_at%></p>
    <p class="render_comment_body"><%= comment.body %></p>
    <%= link_to 'Delete', [comment.article, comment],
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  </div>
<%end%>