// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$primary-color: #ee6352;
$secondary-color: #3fa7d6;
$notice-color: #59cd90;

a {
    font-size: 0.8em;
    font-weight: 700;
    color:#3fa7d6;
    text-decoration: none;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 1em;
    color: $secondary-color;
    font-weight: 600;
}
.confirm_button {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 1em;
    padding-top: 0.2em;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: $notice-color;
    border:none;
    cursor: pointer;
}
.article_title {
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
    color:#3fa7d6;
    text-decoration: none;
}
.input_basic, .input_body, select {
    border: 2px solid $secondary-color;
    height: 2em;
    min-width: 10em;
    max-width: 100%;
    resize: vertical;
}
.input_body {
    height:40em;
}

.index_article_container {
    display: flex;
    flex-direction: column;
    .index_article_collection {
        display: flex;
        flex-direction: column;
        align-items: center;
        .index_article_preview {
            margin: 1em;
            max-width: 50em;
            .index_article_body {
                margin-top: 1em;
                margin-bottom: 1em;
                max-height: 12em;
                overflow: auto;
            }
            .index_article_destroy {
                float: left;
            }
            .index_article_edit {
                float: right;
            }
        }
    }
}

.show_article_container {
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    .show_article_render {
        min-width: 10em;
        max-width: 40em;
        float: left;
        .show_article_body {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .show_article_destroy {
            float: left;
        }
        .show_article_edit {
            float: right;
        }
    }
    .show_article_comments {
        min-width: 10em;
        margin-left: 2em;
    }
}

.render_comment_container {
    margin-top:2em;
    display: flex;
    flex-direction: column;
    .render_comment_author {
        font-weight: 600;
    }
    .render_comment_timestamp {
        font-size: 0.7em;
    }
    .render_comment_body {
        margin-top:0.5em;
        margin-bottom:0.5em;
    }
}

.form_new_container {
    width: 40em;
    display: flex;
    flex-direction: column;
}