// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$primary-color: tomato;
$secondary-color: #3fa7d6;
$notice-color: #59cd90;

h1 {
    font-size: 2em;
    color:$primary-color;
    float: left;
}

.article_new {
    float: right;
    padding: 0.2em;
    padding-bottom: 0.1em;
    margin-right: 3em;
    background-color: $notice-color;
    a {
        font-size: 1.3em;
        font-weight: 700;
        color: white;
        text-decoration: none;
    }
    border-radius: 5px;
}

.articles_collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    .article_container {
        height: min-content;
        min-width: 30em;
        max-width: 50em;
        border: 2px solid $secondary-color;
        border-radius: 5px;
        padding: 0.4em;
        padding-top: 1em;
        margin: 1em;
        display:table-column;
        word-wrap: break-word;
        
        a {
            font-size: 0.8em;
            color:$primary-color;
            text-decoration: none;
        }
        .article_title{
            text-align: center;
            a {
                font-size: 1.4em;
                font-weight: 700;
                color:$secondary-color;
                text-decoration: none;
            }
        }
        .article_body {
            max-height: 16em;
            overflow: auto;
            font-size: 1em;
            color:black;
        }
        .article_edit {
            float: left;
        }
        .article_destroy {
            float: right;
        }
    }
}



